/**

Created with JetBrains WebStorm.
User: shimingjiao 
Date: 2018/4/14.
To change this template use File | Settings | File Templates. */
/*重置默认样式*/
html {
    font-size: 100px; /*640设计稿中:1REM=100PX*/
}
/*@media only screen and (min-width: 750px) {
    html{
        font-size: 30px;
    }
}*/

html, body {
    width: 100%;
    height: 100%;
    /*overflow: hidden;*/
}

body {
    position: relative;
    z-index: -3;
    -webkit-user-select: none;
}
/*重置默认样式*/
.content{
    width: 85%;
    max-width: 7.5rem;
    margin: 0 auto;
    padding: 0.5rem 0.32rem 1.83rem;
}
/*@media only screen and (min-width: 750px) {
html{
    font-size: 80px;
}
    .content{
        width: 85%;
        margin: 0 auto;
        padding: 0.5rem 0.32rem 1.83rem;
    }
}*/
.content #article-title{
    width: 100%;
    text-align: center;
    font-size: 0.46rem;
}

.content .article-des{
    font-size: 0.32rem;
    margin-top: .4rem;
}

.content .article-des .time{
    color: #999;
}
.content .article-des .to-article-folder{
    color: #33c8a6;
    padding-left: 0.2rem;
}
.header-box{
    height: 0.58rem;
    line-height: 0.68rem;
    margin-top: 0.54rem;
}

.header-box .header-img{
    width: 4.04rem;
    height: 0.64rem;
}

button.btn-follow{
    display: inline-block;
    background-color: #33c8a6;
    color: #fff;
    border: 0.01rem solid #24a88a;
    width: 1.26rem;
    height: 0.68rem;
    border-radius: 0.08rem;
    font-size: 0.36rem;
    float: right;
}
.content .article-main .illustration{
    width: 100%;
    height: auto;
    margin-top: 0.4rem;
}
.content .article-main .article-main-title-img{
    display: block;
    width: 0.18rem;
    height: 0.26rem;
    margin: 0 auto;
}
.content .article-main .article-main-title{
    font-size: .34rem;
    color: #666;
    line-height: .58rem;
    padding-left: 0.2rem;
    background-image: url("../images/article-border-top.png");
    background-repeat: no-repeat;
    background-size: 1.1rem .41rem;
    background-position: top left;
    /*,url("../images/article-border-bottom.png") 0 0 no-repeat*/
}
.content .article-main .article-main-title-border-bottom{
    font-size: .34rem;
    color: #666;
    line-height: .58rem;
    padding-left: 0.2rem;
    background-image: url("../images/article-border-bottom.png");
    background-repeat: no-repeat;
    background-size: 1.1rem .41rem;
    background-position: bottom right;
    /*,url("../images/article-border-bottom.png") 0 0 no-repeat*/
}
.content .article-main p{
    font-size: 0.32rem;
    line-height: 0.58rem;
    color: #666;
    margin-top: 0.6rem;
}
.qr-code-img{
    display: block;
    width: 3.64rem;
    height: 3.64rem;
    margin: 0 auto;
}
.qr-code-des{
    width: 100%;
    font-size: 0.32rem;
    color: #666;
    display: inline-block;
    text-align: center;
}
.qr-code-other-des{
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 0.28rem;
    color: #999;
}
.ready-original{
    margin-top: 1rem;
    font-size: 0.32rem;
    color: #999;
}
.ready-original-text{
    color: #5881b3;
}